.App {
  text-align: center;
}
:root {
  --bodyColor: "#000000";
  --white: rgba(101,26,68,0.1);
  --green: rgba(75,167,147);
  --blue: rgb(54,71,136);
  --blue-1: rgb(48,109,163);
  --turquoise: rgb(24,113,113);
  --pink:rgb(199, 164, 185);
  --yellow:rgb(247,235,153);
  --red: rgb(182, 91, 94);
  --red-1: rgb(182, 80, 100);
  --text-dark: rgb(108,64,61);
  --text-light: rgb(212,193,145);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--blue-1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(75,167,147);;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
